{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post">

    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="symbol" type="text">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">search</button>
    </div>
</form>
{%if quote %}
<h3>{{quote["name"]}} ({{quote["symbol"]}})</h3>
<p>Price: {{quote["price"]|usd}}</p>
{% endif %}

{% endblock %}